@charset "UTF-8";

@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Hahmlet:wght@600&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100;200;300;400&family=Orbit&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    list-style: none;
}

.wrapper {
    background-color: #FFF;
    width: 100%;
    padding: 13px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1)
}

nav .content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    margin-left: 200px;
}

.wrapper .content ul {
    list-style: none;
    background: #FFF;
}

.wrapper .content ul li {
    display: inline-block;
    position: relative;
}

.wrapper .logo-img {
    text-align: center;
    margin-left: 255px;
    width: 300px;
    height: auto;
}

.wrapper .content ul li a {
    display: block;
    padding: 20px 25px;
    color: #0E1B48;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin: 0 5vh;
}

.wrapper .content ul li .main:hover {
    color: hotpink;
}

.wrapper nav {
    position: relative;
    display: flex;
}

.bg {
    background: linear-gradient(180deg, #6B266F 0%, #B3376E 100%);
}

.text {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    flex-shrink: 0;
    display: flex;
}

.text p {
    margin-top: 3.3%;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.bkbg {
    background: rgba(255, 255, 255, 0.90);
    opacity: 95%;
    /* margin: 0 150px; */
}

.gallery {
    padding: 0 50px;
    margin: 0 55vh;
    margin-bottom: 5vh;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
}

.grid-item {
    border-radius: 18px;
    position: relative;
    margin: 3vh 5vh;
    text-align: center;

}

.grid-item img {
    border: #fff solid 2px;
    padding: 2px;
    margin-bottom: 10px;
    height: 300px;
    width: auto;
}

.grid-item a {
    color: #162E53;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
}

.cert {
    padding-bottom: 50px;
}

.cert a {
    color: #FFF;
}

.cert p {
    text-align: right;
    font-weight: bold;
    margin-right: 280px;
}

/* 
.footer {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.team {
    margin: 0 20%;
}

.ai,
.web {
    margin-left: 10%;
    line-height: 2em;
}

.blue {
    color: #0360B0;
}

span {
    color: #DE5BA7;
}

.team span {
    font-weight: 600;
    font-size: 25px;
}

.ai p,
.ai span,
.web p,
.web span {
    font-weight: 600;
    font-size: 20px;
} */